<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Игры</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <style>
        .custom-container {
            margin: 0 auto;
            max-width: 100%; /* Можно настроить в соответствии с вашими предпочтениями */
            padding: 0 15px; /* Отступы по бокам */
            background-color: #fff;
        }
        body {
            background-color: #fff;
        }
        .game-link {
            color: cadetblue;
            text-decoration: none;
        }

        .game-link:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        /* Пример стилизации крестика "Закрыть" модального окна */
        /* Стилизация кнопки закрытия модального окна */
        .close-button {
            color: red; /* Цвет кнопки */
            font-size: 24px; /* Размер шрифта */
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background: none;
            border: none;
        }

        .close-button:focus {
            outline: none; /* Убираем рамку при фокусировке */
        }

        #notification {
            position: fixed;
            z-index: 1060;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: black; /* Красный цвет фона */
            color: white; /* Белый текст */
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для улучшения видимости */
            font-weight: bold;
            display: none;
        }

        .custom-modal-dialog {
            max-width: 15%; /* Принудительно уменьшаем ширину */
        }


        .custom-modal-dialog .modal-content {
            margin-top: 100px; /* Дополнительный верхний отступ */
        }

    </style>
</head>
<body>
    <!-- Модальное окно для кодов активации -->
    <div class="modal fade" id="activationCodesModal" tabindex="-1" aria-labelledby="activationCodesModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activationCodesModalLabel">Коды активации</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Место для зарезервированных кодов -->
                    <div id="activationCodesContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для обновления кодов активации -->
    <div class="modal fade" id="updateCodesModal" tabindex="-1" aria-labelledby="updateCodesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCodesModalLabel">Обновление кодов активации</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="newActivationCodes" class="form-control" rows="5" placeholder="Введите новые коды здесь..."></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="updateCodes('${game._id}')">Обновить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для отображения и редактирования информации PSN аккаунта -->
    <div id="psnModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Редактирование PSN аккаунта</h5>
            <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <form id="psnForm" onsubmit="submitPsnForm(event, '${psnAccountId}')">
                <input type="hidden" id="gameIdField" name="gameId">
              <div class="form-group">
                <label for="psnName">Имя</label>
                <input type="text" class="form-control" id="psnName" name="name">
              </div>
              <div class="form-group">
                <label for="psnPassword">Пароль</label>
                <input type="text" class="form-control" id="psnPassword" name="password">
              </div>
              <div class="form-group">
                <label for="psnAddress">Адрес</label>
                <input type="text" class="form-control" id="psnAddress" name="address">
              </div>
              <div class="form-group">
                <label for="psnBirthDate">Дата рождения</label>
                <input type="date" class="form-control" id="psnBirthDate" name="birthDate">
              </div>
              <div class="form-group">
                <label for="psnNetworkID">Network ID</label>
                <input type="text" class="form-control" id="psnNetworkID" name="networkID">
              </div>
              <div class="form-group">
                <label for="psnPhoneNumbers">Телефонные номера</label>
                <input type="text" class="form-control" id="psnPhoneNumbers" name="phoneNumbers">
              </div>
              <div class="form-group">
                <label for="psnPaymentMethod">Способ оплаты</label>
                <input type="text" class="form-control" id="psnPaymentMethod" name="paymentMethod">
              </div>
              <div class="form-group">
                <label for="psnSecretQuestionAnswer">Ответ на секретный вопрос</label>
                <input type="text" class="form-control" id="psnSecretQuestionAnswer" name="secretQuestionAnswer">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary" form="psnForm">Сохранить изменения</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Модальное окно для отображения и редактирования информации почтового аккаунта -->
    <div id="emailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование Email аккаунта</h5>
                <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="emailForm">
                    <input type="hidden" id="emailAccountIdField" name="emailAccountId">
                    <div class="form-group">
                        <label for="emailAddress">Email</label>
                        <input type="email" class="form-control" id="emailAddress" name="email">
                    </div>
                    <div class="form-group">
                        <label for="emailPassword">Пароль</label>
                        <input type="text" class="form-control" id="emailPassword" name="password">
                    </div>
                    <div class="form-group">
                        <label for="emailBirthDate">Дата рождения</label>
                        <input type="date" class="form-control" id="emailBirthDate" name="birthDate">
                    </div>
                    <div class="form-group">
                        <label for="emailSecretQuestionAnswer">Ответ на секретный вопрос</label>
                        <input type="text" class="form-control" id="emailSecretQuestionAnswer" name="secretQuestionAnswer">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="emailForm">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

    <!-- Модальное окно для отображения информации об активациях -->
    <div id="activationInfoModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Информация об активации</h5>
                    <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="activationInfoContainer">
                        <!-- Сюда будет вставляться информация об активациях -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования активации -->
    <div id="editActivationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование активации</h5>
                <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editActivationForm">
                    <!-- Имя -->
                    <div class="form-group">
                        <label for="editActivationName">Имя</label>
                        <input type="text" class="form-control" id="editActivationName" name="name">
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="editActivationEmail">Email</label>
                        <input type="email" class="form-control" id="editActivationEmail" name="email">
                    </div>
                    <!-- VK Link -->
                    <div class="form-group">
                        <label for="editActivationVkLink">Ссылка VK</label>
                        <input type="text" class="form-control" id="editActivationVkLink" name="vkLink">
                    </div>
                    <!-- Telegram Link -->
                    <div class="form-group">
                        <label for="editActivationTgLink">Ссылка Telegram</label>
                        <input type="text" class="form-control" id="editActivationTgLink" name="tgLink">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="editActivationForm">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

    <!-- Модальное окно для добавления новой игры -->
    <div id="addGameModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить новую игру</h5>
                <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addGameForm">
                    <!-- Номер аккаунта -->
                    <div class="form-group">
                        <label for="addAccountNumber">Номер аккаунта</label>
                        <input type="number" class="form-control" id="addAccountNumber" name="account_number">
                    </div>
                    <!-- Название игры -->
                    <div class="form-group">
                        <label for="addGameName">Название игры</label>
                        <input type="text" class="form-control" id="addGameName" name="gameName">
                    </div>
                    <!-- Номер транзакции -->
                    <div class="form-group">
                        <label for="addTransactionNumber">Номер транзакции</label>
                        <input type="text" class="form-control" id="addTransactionNumber" name="transactionNumber">
                    </div>
                    <!-- Цена -->
                    <div class="form-group">
                        <label for="addPrice">Цена</label>
                        <input type="number" class="form-control" id="addPrice" name="price">
                    </div>
                    <!-- Дата покупки -->
                    <div class="form-group">
                        <label for="addPurchaseDate">Дата покупки</label>
                        <input type="date" class="form-control" id="addPurchaseDate" name="purchaseDate">
                    </div>
                    <!-- Дата последней деактивации -->
                    <div class="form-group">
                        <label for="addLastDeactivationDate">Дата последней деактивации</label>
                        <input type="date" class="form-control" id="addLastDeactivationDate" name="lastDeactivationDate">
                    </div>
                    <!-- Дополнительная информация -->
                    <div class="form-group">
                        <label for="addAdditionalInfo">Дополнительная информация</label>
                        <input type="text" class="form-control" id="addAdditionalInfo" name="additionalInfo">
                    </div>
                    <!-- Комментарий -->
                    <div class="form-group">
                        <label for="addComment">Комментарий</label>
                        <textarea class="form-control" id="addComment" name="comment"></textarea>
                    </div>
                    <!-- Статус продажи -->
                    <div class="form-group">
                        <label for="addSaleStatus">Статус продажи</label>
                        <select class="form-control" id="addSaleStatus" name="saleStatus">
                            <option value="FOR_SALE">В продаже</option>
                            <option value="SOLD">Продано</option>
                            <option value="PREORDER">Прездаказ</option>
                            <option value="FOR_SALE_PS5">В продаже PS5</option>
                            <option value="FOR_SALE_PS4">В продаже PS4</option>
                            <option value="PUSH_TO_SALE">! На продажу</option>
                            <option value="FOR_SALE_P1">В продаже П1</option>
                            <option value="BLOCKED">Заблокирован</option>
                            <option value="RECOVER">Восстановить</option>
                        </select>
                    </div>
                    <!-- Статус аренды -->
                    <div class="form-group">
                        <label for="addRentalStatus">Статус аренды</label>
                        <select class="form-control" id="addRentalStatus" name="rentalStatus">
                            <option value="AVAILABLE">ДА</option>
                            <option value="NOT_AVAILIABLE">НЕТ</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addGameForm" onclick="submitAddGameForm(event)">Сохранить</button>
            </div>
        </div>
    </div>
</div>

    <!-- Окно для редактирования игры -->
    <div id="gameEditModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Заголовок и кнопка закрытия -->
            <div class="modal-header">
                <h5 class="modal-title">Редактирование игры</h5>
                <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Тело модального окна -->
            <div class="modal-body">
                <form id="gameEditForm">
                    <input type="hidden" id="editGameIdField" name="gameId">
                    <!-- Название игры -->
                    <div class="form-group">
                        <label for="editGameName">Название игры</label>
                        <input type="text" class="form-control" id="editGameName" name="gameName">
                    </div>
                    <!-- Номер транзакции -->
                    <div class="form-group">
                        <label for="editTransactionNumber">Номер транзакции</label>
                        <input type="text" class="form-control" id="editTransactionNumber" name="transactionNumber">
                    </div>
                    <!-- Цена -->
                    <div class="form-group">
                        <label for="editPrice">Цена</label>
                        <input type="number" class="form-control" id="editPrice" name="price">
                    </div>
                    <!-- Дата покупки -->
                    <div class="form-group">
                        <label for="editGamePurchaseDate">Дата покупки</label>
                        <input type="date" class="form-control" id="editGamePurchaseDate" name="purchaseDate">
                    </div>
                    <!-- Дата последней деактивации -->
                    <div class="form-group">
                        <label for="editLastDeactivationDate">Дата последней деактивации</label>
                        <input type="date" class="form-control" id="editLastDeactivationDate" name="lastDeactivationDate">
                    </div>
                    <!-- Дополнительная информация -->
                    <div class="form-group">
                        <label for="editAdditionalInfo">Дополнительная информация</label>
                        <input type="text" class="form-control" id="editAdditionalInfo" name="additionalInfo">
                    </div>
                    <!-- Комментарий -->
                    <div class="form-group">
                        <label for="editComment">Комментарий</label>
                        <textarea class="form-control" id="editComment" name="comment"></textarea>
                    </div>
                    <!-- Статус продажи -->
                    <div class="form-group">
                        <label for="editSaleStatus">Статус продажи</label>
                        <select class="form-control" id="editSaleStatus" name="saleStatus">
                            <option value="FOR_SALE">В продаже</option>
                            <option value="SOLD">Продано</option>
                            <option value="PREORDER">Прездаказ</option>
                            <option value="FOR_SALE_PS5">В продаже PS5</option>
                            <option value="FOR_SALE_PS4">В продаже PS4</option>
                            <option value="PUSH_TO_SALE">! На продажу</option>
                            <option value="FOR_SALE_P1">В продаже П1</option>
                            <option value="BLOCKED">Заблокирован</option>
                            <option value="RECOVER">Восстановить</option>
                        </select>
                    </div>
                    <!-- Статус аренды -->
                    <div class="form-group">
                        <label for="editRentalStatus">Статус аренды</label>
                        <select class="form-control" id="editRentalStatus" name="rentalStatus">
                            <option value="AVAILABLE">ДА</option>
                            <option value="NOT_AVAILIABLE">НЕТ</option>
                        </select>
                    </div>
                    <!-- Другие поля по необходимости -->
                </form>
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="gameEditForm">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

    <!-- Основной контейнер -->
    <div class="custom-container">
        <h1 class="text-center my-4">База данных по играм</h1>

        <!-- Форма поиска игры -->
        <div class="mb-4">
            <input type="text" id="searchGameName" class="form-control" placeholder="Поиск по названию игры">
            <button onclick="findGame()" class="btn btn-primary mt-2">Найти игру</button>
            <button onclick="showAllGames()" class="btn btn-secondary mt-2">Показать все</button>
        </div>

        <!-- Кнопка добавить новую игру -->
        <button onclick="addGameForm()" class="btn btn-success mb-4">Добавить запись</button>

        <!-- Список игр -->
            <div id="gamesList" class="mt-4">
                <div id="notification" class="notification"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Номер аккаунта</th>
                            <th scope="col">Название</th>
                            <th scope="col">Дата покупки</th>
                            <th scope="col">Аккаунт PSN</th>
                            <th scope="col">Email Аккаунт</th>
                            <th scope="col">Информация активаций</th>
                            <th scope="col">Коды активации</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Записи игр будут добавлены здесь -->
                    </tbody>
                </table>
            </div>
    </div>

    <!-- Модальное окно для подтверждения удаления -->
    <div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтверждение удаления</h5>
                    <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить эту игру?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
        loadGames(); // Загрузка игр при инициализации страницы
});
    var gamesData = {}; // Глобальный объект для хранения данных игр

    async function loadGames(skip = 0, limit = 10) {
        try {
            const response = await fetch(`/games/?skip=${skip}&limit=${limit}`);
            if (!response.ok) {
                throw new Error('Ошибка при получении списка игр');
            }

            const games = await response.json();
            games.forEach(game => {
                gamesData[game._id] = game; // Обновление глобального объекта gamesData
            });
            displayGames(games); // Отображение списка игр
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Не удалось загрузить список игр');
        }
}

    function displayGames(games) {
        const gamesList = document.getElementById('gamesList').getElementsByTagName('tbody')[0];
        gamesList.innerHTML = ''; // Очистка списка игр

        games.forEach(game => {
            const gameRow = document.createElement('tr');
            gameRow.className = 'align-items-center';

            // Формирование строки с информацией о PSN аккаунте
            const psnAccount = game.psnAccount ? game.psnAccount : {};
            const psnAccountId = `psn-${game._id}`;
            psnAccountsData[psnAccountId] = psnAccount;

            const emailAccount = game.emailAccount ? game.emailAccount : {};
            const emailAccountId = `email-${game._id}`;
            emailAccountsData[emailAccountId] = emailAccount;


            // Формирование кнопки для отображения кодов активации
            let activationCodesButton = `<button class="btn btn-secondary" type="button" onclick="showActivationCodesModal('${game._id}')">Коды</button>`;

            // Формирование кнопки для отображения информации об активациях
            let activationInfoButton = `<button class="btn btn-secondary" type="button" onclick="showActivationInfoModal('${game._id}')">Информация об активации</button>`;

            gameRow.innerHTML = `
                <td>${game.account_number}</td>
                <td><a href="#" class="game-link" onclick="editGame('${game._id}')">${game.gameName}</a></td>
                <td>${game.purchaseDate}</td>
                <td><a href="#" class="game-link" onclick="showPsnModal('${psnAccountId}')">${psnAccount.name || ''}</a></td>
                <td><a href="#" class="game-link" onclick="showEmailModal('${emailAccountId}')">${emailAccount.email || ''}</a></td>
                <td>${activationCodesButton}</td>
                <td>${activationInfoButton}</td>
                <td>
                    <button onclick="editGame('${game._id}')" class="btn btn-sm btn-outline-secondary ml-2"><i class="fas fa-edit"></i></button>
                    <button onclick="showDeleteConfirmation('${game._id}')" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
            `;

            gamesList.appendChild(gameRow);
        });
}

    async function findGame() {
    const searchGameName = document.getElementById('searchGameName').value;

    try {
        const response = await fetch(`/games/find_game?gamename=${encodeURIComponent(searchGameName)}`);
        if (!response.ok) {
            throw new Error('Game not found');
        }

        const game = await response.json();
        displayGames([game]); // Показать найденную игру
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Игра не найдена');
    }
}

    function addGameForm() {
    new bootstrap.Modal(document.getElementById('addGameModal')).show();
}

    async function submitAddGameForm(event) {
    event.preventDefault(); // Предотвращение стандартного поведения формы

    // Преобразование статуса аренды и статуса продажи
    const rentalStatusElement = document.getElementById('addRentalStatus');
    const isRented = rentalStatusElement.value === 'AVAILABLE' ? 'ДА' : 'НЕТ';

    const saleStatusElement = document.getElementById('addSaleStatus');
    const saleStatusValue = saleStatusMappings[saleStatusElement.value] || null;

    const gameData = {
        account_number: document.getElementById('addAccountNumber').value,
        gameName: document.getElementById('addGameName').value,
        transactionNumber: document.getElementById('addTransactionNumber').value,
        price: document.getElementById('addPrice').value,
        purchaseDate: document.getElementById('addPurchaseDate').value,
        lastDeactivationDate: document.getElementById('addLastDeactivationDate').value,
        additionalInfo: document.getElementById('addAdditionalInfo').value,
        comment: document.getElementById('addComment').value,
        saleStatus: saleStatusValue,
        rentalInfo: {
            isRented: isRented
        }
    };

    try {
        // Отправка данных о новой игре
        const response = await fetch('/games/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(gameData)
        });

        if (!response.ok) {
            throw new Error('Произошла ошибка при добавлении игры');
        }

        // Закрыть модальное окно и обновить страницу/список игр
        $('#addGameModal').modal('hide');
        window.location.reload(); // Перезагрузить страницу

    } catch (error) {
        console.error('Ошибка:', error);
        alert('Ошибка при добавлении игры');
    }
}
    
    async function deleteGame(gameId) {
        try {
            const response = await fetch(`/games/${gameId}`, { method: 'DELETE' });
            if (!response.ok) {
                throw new Error('Failed to delete the game');
            }
            await loadGames(); // Перезагрузить список игр
            // Скрываем модальное окно после успешного удаления
            confirmDeleteModal.hide();
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка удаления игры');
        }
}

    const reverseSaleStatusMappings = {
        'В продаже': 'FOR_SALE',
        'Продано': 'SOLD',
        'Прездаказ': 'PREORDER',
        'В продаже PS5': 'FOR_SALE_PS5',
        'В продаже PS4': 'FOR_SALE_PS4',
        '! На продажу': 'PUSH_TO_SALE',
        'В продаже П1': 'FOR_SALE_P1',
        'Заблокирован': 'BLOCKED',
        'Восстановить': 'RECOVER'
    };

    function editGame(gameId) {
    const game = gamesData[gameId];

    // Заполнение формы данными игры
    document.getElementById('editGameIdField').value = gameId;
    document.getElementById('editGameName').value = game.gameName || '';
    document.getElementById('editTransactionNumber').value = game.transactionNumber || '';
    document.getElementById('editPrice').value = game.price || '';
    document.getElementById('editGamePurchaseDate').value = game.purchaseDate || '';
    document.getElementById('editLastDeactivationDate').value = game.lastDeactivationDate || '';
    document.getElementById('editAdditionalInfo').value = game.additionalInfo || '';
    document.getElementById('editComment').value = game.comment || '';

    // Установка выбранного значения для статуса продажи
    const saleStatusElement = document.getElementById('editSaleStatus');
    const saleStatusKey = reverseSaleStatusMappings[game.saleStatus];
    if (saleStatusKey) {
        saleStatusElement.value = saleStatusKey;
    } else {
        saleStatusElement.selectedIndex = 0; // Выбрать первый элемент в списке, например, пустой выбор или значение по умолчанию
    }

    // Установка выбранного значения для статуса аренды
    const rentalStatusElement = document.getElementById('editRentalStatus');
    if (game.rentalInfo && game.rentalInfo.isRented) {
        rentalStatusElement.value = game.rentalInfo.isRented === 'ДА' ? 'AVAILABLE' : 'NOT_AVAILIABLE';
    } else {
        rentalStatusElement.selectedIndex = 0; // Выбрать первый элемент в списке
    }

    // Показ модального окна для редактирования
    new bootstrap.Modal(document.getElementById('gameEditModal')).show();
}

    const saleStatusMappings = {
    'FOR_SALE': 'В продаже',
    'SOLD': 'Продано',
    'PREORDER': 'Прездаказ',
    'FOR_SALE_PS5': 'В продаже PS5',
    'FOR_SALE_PS4': 'В продаже PS4',
    'PUSH_TO_SALE': '! На продажу',
    'FOR_SALE_P1': 'В продаже П1',
    'BLOCKED': 'Заблокирован',
    'RECOVER': 'Восстановить'
};

    document.getElementById('gameEditForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Предотвращаем стандартную отправку формы

        const gameId = document.getElementById('editGameIdField').value;
        const selectedSaleStatus = document.getElementById('editSaleStatus').value;
        const saleStatusValue = saleStatusMappings[selectedSaleStatus] || null;
        const isRented = document.getElementById('editRentalStatus').value === 'AVAILABLE' ? 'ДА' : 'НЕТ';

        const gameData = {
            gameName: document.getElementById('editGameName').value,
            transactionNumber: document.getElementById('editTransactionNumber').value,
            price: document.getElementById('editPrice').value,
            purchaseDate: document.getElementById('editGamePurchaseDate').value,
            lastDeactivationDate: document.getElementById('editLastDeactivationDate').value,
            additionalInfo: document.getElementById('editAdditionalInfo').value,
            comment: document.getElementById('editComment').value,
            rentalInfo: {
                isRented: isRented
            }
        };

        try {
            // Отправка основных данных игры
            const gameResponse = await fetch(`/games/${gameId}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(gameData)
            });

            if (!gameResponse.ok) {
                throw new Error('Failed to update the game');
            }

            // Отправка статуса продажи
            if (saleStatusValue) {
                const saleStatusResponse = await fetch(`/games/${gameId}/sale-status`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ saleStatus: saleStatusValue })
                });

                if (!saleStatusResponse.ok) {
                    throw new Error('Failed to update the sale status');
                }
            }

            const gameResult = await gameResponse.json();
            console.log(gameResult.message);

            // Закрываем модальное окно после успешного обновления
            const gameEditModal = bootstrap.Modal.getInstance(document.getElementById('gameEditModal'));
            gameEditModal.hide();
            window.location.reload();
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка обновления игры');
        }
    });

    function showActivationCodesModal(gameId) {
        const game = gamesData[gameId];

        let activationCodesHtml = '';
        if (game.activationCodes && game.activationCodes.length > 0) {
            game.activationCodes.forEach((code, index) => {
                activationCodesHtml += `
                    <div class="mb-2">
                        * ${code}
                        <button class="btn btn-sm" onclick="copyCodeToClipboard('${code}')">&#x1F4CB;</button>
                        <button class="btn btn-sm" onclick="deleteCode('${game._id}', '${code}', ${index})">&#x1F5D1;</button>
                    </div>`;
            });
        } else {
            activationCodesHtml = 'Коды активации не найдены';
        }

        // Кнопка "Обновить коды" теперь добавляется вне условного блока
        activationCodesHtml += `<button type="button" class="btn btn-primary" onclick="showUpdateCodesModal('${game._id}')">Обновить коды</button>`;

        document.getElementById('activationCodesContainer').innerHTML = activationCodesHtml;

        const modal = new bootstrap.Modal(document.getElementById('activationCodesModal'));
        modal.show();
}

    function showUpdateCodesModal(gameId) {
        document.getElementById('gameIdField').value = gameId;
        const updateModal = new bootstrap.Modal(document.getElementById('updateCodesModal'));
        updateModal.show();
    }

    function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.textContent = message;
        notification.style.display = 'block'; // Показываем уведомление

        setTimeout(() => {
            notification.style.display = 'none';
        }, 2000);
    }

    function copyCodeToClipboard(code, btnElement) {
        navigator.clipboard.writeText(code).then(() => {
        showNotification(`Код ${code} скопирован в буфер обмена`);
    });}

    function deleteCode(gameId, code, codeIndex) {
        fetch(`/codes/${gameId}/${codeIndex}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.status === 204) {
                // Если статус 204, то просто возвращаем true и не пытаемся парсить JSON
                return true;
            }
            if (response.ok) {
                // Если статус не 204, но запрос успешен, парсим JSON
                return response.json();
            }
            throw new Error('Проблема при выполнении запроса');
        })
        .then(data => {
            showNotification(`Код ${code} удален!`);
            window.location.reload(); // Перезагрузить страницу
        })
        .catch(error => {
            console.error('Ошибка при удалении кода:', error);
            showNotification('Ошибка при удалении кода');
        });
    }

    // Глобальный объект для хранения данных PSN аккаунтов
    var psnAccountsData = {};

    function showPsnModal(psnAccountId) {
        const psnAccount = psnAccountsData[psnAccountId];

        // Заполнение формы данными PSN аккаунта
        document.getElementById('psnName').value = psnAccount.name;
        document.getElementById('psnPassword').value = psnAccount.password;
        document.getElementById('psnAddress').value = psnAccount.address;
        document.getElementById('psnBirthDate').value = psnAccount.birthDate;
        document.getElementById('psnNetworkID').value = psnAccount.networkID;
        document.getElementById('psnPhoneNumbers').value = psnAccount.phoneNumbers.join(', ');
        document.getElementById('psnPaymentMethod').value = psnAccount.paymentMethod;
        document.getElementById('psnSecretQuestionAnswer').value = psnAccount.secretQuestionAnswer;

        // Сохранение gameId в скрытом поле формы
        document.getElementById('gameIdField').value = psnAccountId.split('-')[1];

        const modal = new bootstrap.Modal(document.getElementById('psnModal'));
        modal.show();
}

    // Глобальный объект для хранения данных PSN аккаунтов
    var emailAccountsData = {};

    function showEmailModal(emailAccountId) {
    const emailAccount = emailAccountsData[emailAccountId];

        // Заполнение формы данными email аккаунта
        document.getElementById('emailAccountIdField').value = emailAccountId;
        document.getElementById('emailAddress').value = emailAccount.email || '';
        document.getElementById('emailPassword').value = emailAccount.password || '';
        document.getElementById('emailBirthDate').value = emailAccount.birthDate || '';
        document.getElementById('emailSecretQuestionAnswer').value = emailAccount.secretQuestionAnswer || '';

        // Показ модального окна для редактирования
        new bootstrap.Modal(document.getElementById('emailModal')).show();
}

    const activationTitles = {
        ps4ActivationP1: "PS4 - Оффлайн активация П1",
        ps5ActivationP1: "PS5 - Оффлайн активация П1",
        ps4ActivationP3: "PS4 - Активация П3",
        ps5ActivationP3: "PS5 - Активация П3"
};

    function showActivationInfoModal(gameId) {
        const game = gamesData[gameId];
        let activationInfoHtml = '';

        if (game.activationInfo) {
            for (const key in game.activationInfo) {
                const title = activationTitles[key] || key; // Используйте словарь для получения русского названия
                activationInfoHtml += `<h5>${title}</h5><div class="activation-info">`;
                game.activationInfo[key].forEach((info, index) => {
                    activationInfoHtml += `
                        <div class="activation-record">
                            <span>Name: ${info.name || 'N/A'}</span><br>
                            <span>Email: ${info.email || 'N/A'}</span><br>
                            <span>VK: ${info.vkLink || 'N/A'}</span><br>
                            <span>Telegram: ${info.tgLink || 'N/A'}</span>
                            <button class="btn btn-sm" onclick="editActivation('${game._id}', '${key}', ${index})">&#x270F;</button>
                            <button class="btn btn-sm" onclick="deleteActivation('${game._id}', '${key}', ${index})">&#x1F5D1;</button>
                        </div>
                        <hr>`;
                });
                activationInfoHtml += `</div>`;
            }
        } else {
            activationInfoHtml = 'Информация об активации отсутствует';
        }

        document.getElementById('activationInfoContainer').innerHTML = activationInfoHtml;
        new bootstrap.Modal(document.getElementById('activationInfoModal')).show();
}

    function editActivation(gameId, activationKey, index) {
        const game = gamesData[gameId];
        const activation = game.activationInfo[activationKey][index];

        // Заполнение формы данными активации
        document.getElementById('editActivationName').value = activation.name || '';
        document.getElementById('editActivationEmail').value = activation.email || '';
        document.getElementById('editActivationVkLink').value = activation.vkLink || '';
        document.getElementById('editActivationTgLink').value = activation.tgLink || '';

        // Сохранение информации об ID игры, ключе активации и индексе для дальнейшего обновления
        const form = document.getElementById('editActivationForm');
        form.dataset.gameId = gameId;
        form.dataset.activationKey = activationKey;
        form.dataset.index = index;

        // Показ модального окна для редактирования
        new bootstrap.Modal(document.getElementById('editActivationModal')).show();
}

    async function submitPsnForm(event, gameId) {
         event.preventDefault(); // Предотвращение стандартной отправки формы
        // Получение gameId из скрытого поля
        const gameIdValue = document.getElementById('gameIdField').value;
          // Сбор данных из формы
          const updatedPsnAccount = {
            name: document.getElementById('psnName').value,
            password: document.getElementById('psnPassword').value,
            address: document.getElementById('psnAddress').value,
            birthDate: document.getElementById('psnBirthDate').value,
            networkID: document.getElementById('psnNetworkID').value,
            phoneNumbers: [document.getElementById('psnPhoneNumbers').value],
            paymentMethod: document.getElementById('psnPaymentMethod').value,
            secretQuestionAnswer: document.getElementById('psnSecretQuestionAnswer').value
          };

          // Подготовка данных для PUT запроса
          const requestData = {
            transactions: [{
              psnAccount: updatedPsnAccount
            }]
          };
            console.log("Отправляемые данные:", requestData);
          // Отправка PUT запроса
              try {
                const response = await fetch(`/games/${gameIdValue}`, {
                  method: 'PUT',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(requestData)
                });

                if (response.ok) {
                  console.log($('#psnModal'));
                    $('#psnModal').modal('hide'); // Закрыть модальное окно
                    window.location.reload(); // Перезагрузить страницу
                } else {
                  console.error('Ошибка при обновлении данных: ', response.statusText);
                }
              } catch (error) {
                console.error('Ошибка при отправке запроса: ', error);
              }
            }

    function updateCodes(gameId) {
        var newCodes = document.getElementById('newActivationCodes').value;
        gameId = document.getElementById('gameIdField').value;
        var data = {
            newActivationCodes: newCodes.split('\n') // предполагается, что коды разделены переносами строк
        };

        fetch(`/codes/${gameId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Ошибка сервера: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            // Закрытие обоих модальных окон после успешного обновления данных
            $('#updateCodesModal').modal('hide');
            $('#activationCodesModal').modal('hide');
            window.location.reload(); // Перезагрузить страницу
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function showAllGames() {
        document.getElementById('searchGameName').value = ''; // Очистка поля поиска
        loadGames(); // Предполагается, что у вас есть функция loadGames для загрузки и отображения всех игр
}

    let confirmDeleteModal;

    function showDeleteConfirmation(gameId) {
        // Сохраняем ID игры в кнопке подтверждения
        document.getElementById('confirmDeleteButton').onclick = function() {
            deleteGame(gameId);
        };
        // Показываем модальное окно
        confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
        confirmDeleteModal.show();
}

</script>
<!-- Подключение Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
